.heading {
  font-size: 7rem;
  margin-top: 5rem;
  text-align: center;
}

.subheading {
  text-align: center;
  margin-top: 2rem;
}

.next {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.next:hover {
  text-decoration: underline;
  color: rgb(75, 96, 216);
}

.tagsContainer {
  display: flex;
  margin-top: 3rem;
}

.tag {
  background-color: rgb(75, 96, 216);
  margin: 0 1rem;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.tag p {
  color: white;
}

.doc {
  text-align: center;
  color: gray;
  margin-top: 6rem;
}
